@tailwind base;
@tailwind components;
@tailwind utilities;


body
{
    background-color:#dfece0;
}
.border-bottom
{
    color: #000;
    border-bottom: 3px solid rgb(15, 15, 151);
}
@media (max-width: 650px) {
    .swiper-button-next:after, .swiper-button-prev:after
    {
        font-size: 24px !important;
    }
}
